#cloud-config

package_update: true

packages:
 - ntp
 - qemu-guest-agent

runcmd:
  - - systemctl
    - enable
    - --now
    - qemu-guest-agent.service
    
users:
  - name: ${prov_user}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${prov_user_ssh_pub_key}
    shell: /bin/bash

%{ if root_ca_cert != "" }
ca_certs:
  trusted: 
  - |
   ${root_ca_cert}
%{ endif }

write_files:
%{ if proxy_host != "" }
- path: /etc/environment
  content: |
    http_proxy="http://${proxy_host}/"
    https_proxy="http://${proxy_host}/"
  append: true
- content: |
    Acquire::http::Proxy "http://${proxy_host}/";
    Acquire::https::Proxy "http://${proxy_host}/";
  path: /etc/apt/apt.conf.d/proxy.conf
%{ endif }
